<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AutoStudio | Su Auto en las mejores manos, Reparación de Camanances, Parabrisas, Abolladuras rapido en San José, Costa Rica.</title>

    <!-- ios Support for Non-Styled Phone Numbers -->
    <meta name="format-detection" content="telephone=no">

    <!-- google no translate -->
    <meta name="google" content="notranslate" />

    <!-- Geo Meta tags // For Bings Search Engine -->
    <meta name="geo.region" content="CR-SJ" />
    <meta name="geo.placename" content="San Jos&eacute;" />
    <meta name="geo.position" content="9.928069;-84.090725" />
    <meta name="ICBM" content="9.928069, -84.090725" />


    <!-- SEO Tags  // Keywords,Description,Etc -->
    <meta name="author" content="www.jlmayorga.com.co">
    <meta name="keywords" content="camanance, abolladura, reparación de vehiculos, reparación de carros, vehiculos, carro, fiat, mazda, automoviles, automovil, parabrisas, vidrio roto, reparación, mecanica, mecanicos costa rica, san jose, abolladura de carro , arreglar, abolladura auto, taller de reparación de automóviles en Escazú, Costa Rica">
    <meta name="description" content="AutoStudio es un servicio que en instantes repara pequeñas abolladuras y parabrisas en menos de 3 horas. Estamos ubicados en Escazú, San José, Costa Rica.Somos expertos, somos rapidos, somos AutoStudio. Contactenos al +506 7205 3596. Taller de reparación de automóviles en Escazú, Costa Rica">
    <!-- / SEO Tags  // Keywords,Description,Etc -->

    <!-- Facebook OpenGraph Tags-->
    <meta property="og:url" content="http://autostudio-cr.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="AutoStudio" />
    <meta property="og:description" content="AutoStudio es un servicio que en instantes repara pequeñas abolladuras y parabrisas en menos de 3 horas. Estamos ubicados en Escazú, San José, Costa Rica.Somos expertos, somos rapidos, somos AutoStudio. Contactenos al +506 7205 3596. Taller de reparación de automóviles en Escazú, Costa Rica" />
    <meta property="og:image" content="http://thesignlab.co/SocialMedia/facebookOG.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="910" />
    <meta property="og:image:height" content="910" />
    <meta property="og:image:alt" content="AutoStudio | Su Auto en las mejores manos, Reparación de Camanances, Parabrisas, Abolladuras rapido en San José, Costa Rica." />
    <!-- / Facebook OpenGraph Tags-->

    <!-- Twitter Cards Tags-->
    <meta name="twitter:card" content="http://thesignlab.co/SocialMedia/TwitterCard.jpg">
    <meta name="twitter:site" content="@thesignlabco">
    <meta name="twitter:creator" content="@thesignlabco">
    <meta name="twitter:title" content="TheSignLab">
    <meta name="twitter:description" content="TheSignLab es un estudio de diseño multidisciplinario con sede en Bogotá, compuesto por el talento más nuevo en diseño e ingeniería. Al aplicar una metodología centrada en el usuario para el diseño, ofrecemos soluciones creativas únicas cuando se requiere un resultado comercial fresco y holístico. En pocas palabras: TheSignLab no solo crea marcas, estrategias de marketing sino soluciones de alta tecnología que resuenan en la audiencia actual.">
    <meta name="twitter:image" content="http://thesignlab.co/SocialMedia/TwitterCard.jpg">
    <!-- / Twitter Cards Tags-->


    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">

    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->

    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="AutoStudio">

    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/site.webmanifest">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#182b7e">
    <meta name="apple-mobile-web-app-title" content="AutoStudio">
    <meta name="application-name" content="AutoStudio">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#182b7e">


    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
        <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
        <% }}} %>
</head>

<body>
    <noscript>
        Para visualizar y acceder a los servicios de la WebApp AutoStudio-cr.com es necesario tener habilitado Javascript en su navegador.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
        <!-- built files will be auto injected -->
</body>

</html>
