// -------------------------------------------------- //
// -- Layout Stylesheet LESS for AutoStudio-cr.com -- //
// -------------------------------------------------- //

// -------------------------------------------------- //
body,
html {
    color: @color-black;
    background-color: @color-white;
    width: 100vw !important;
    height: auto;
    overflow-x: hidden;
}
