// ----------------------------------------------------------- //
// -- Responsive Layout/Stylesheet for AutoStudio-cr.com       //
// ----------------------------------------------------------- //

@whenMobile  : ~ "@media only screen and (max-width: 0px)";
@whenTablet : ~"@media only screen and (max-width: 600px)";
@whenDesktop : ~"@media only screen and (max-width: 1000px)";
