// ------------------------------------------------- //
// -- Theme Stylesheet LESS for AutoStudio-cr.com -- //
// ------------------------------------------------- //
// ------------------------------------------------- //
// -- Main Colors ---------------------------------- //
// ------------------------------------------------- //
@color-white : #fff;
@color-blue: #182b7e;
@color-red : #FD0544;
@color-gray : #E5E5E5;
@color-dark-gray : #999999;
@color-black : #fff;
@color-yellow : #FBCD04;
@color-black: #363636;
// ------------------------------------------------- //
// ------------------------------------------------- //
// -- Views Theme ---------------------------------- //
// ------------------------------------------------- //
.view {
    background-color: @color-gray;
    width: 100vw;
    height: 100vh;
    .flex-centerAll();
}

// ------------------------------------------------- //
// Forms Elements (BUTTONS, INPUTS, ETC)
// ------------------------------------------------- //
.title {
    width: fit-content;
    height: fit-content;
    display: block;
    font-family: "font-light";
    font-size: 1em;
    background-color: @color-white;
    border: 0.1em solid @color-gray;
    border-radius: 1em;
}

.subtitle {}

.button {}

.list {}

.list-item {}

.card {}

.card-list {}

.tab-header {}

.tab-content {}

// ------------------------------------------------- //
