// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "reset.less";
@import "mixins.less";


@color-white : #fff;
@color-blue: #172B4C;
@color-red : #FD0544;
@color-gray : #999;
@color-dark-gray : #fff;
@color-black : #fff;
@color-yellow : #FBCD04;


@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'font-light';
    src: local('font-light'),
    url("../fonts/MullerLight.otf") format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'font-bold';
    src: local('font-bold'),
    url("../fonts/MullerBold.otf") format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'font-medium';
    src: local('font-medium'),
    url("../fonts/MullerMedium.otf") format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'font-ultra';
    src: local('font-ultra'),
    url("../fonts/MullerUltra.otf") format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: italic;
    font-family: 'font-futura-italic';
    src: local( 'font-futura-italic'),
    url("../fonts/FuturaOblique.otf")  format("opentype");
}

@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: 'font-futura-bold-italic';
    src: local( 'font-futura-bold-italic'),
    url("../fonts/FuturaLTBoldOblique.otf")  format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'font-regular';
    src: local('font-regular'),
    url("../fonts/MullerRegular.otf") format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'font-thin';
    src: local('font-thin'),
    url("../fonts/MullerThin.otf") format("opentype");
}


.f-bold {
    
}

body,
html {
    background-color: white;
    color: black;
    width: 100vw !important;
    height: auto;
    overflow-x: hidden;
}
